*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}#header{
    background-color:#6705de ;
}
.header-container{
    background: #6705de;
    margin: 0 auto;
    max-width: 1200px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid white;
}
nav ul{
    display: flex;
    gap: 40px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 19px;
    color: white;
}
.header-logo{
    color: white;
}
.header-logo span{
    color:deeppink;
}
.btn{
    border: none;
    border-radius: 25px;
    padding: 7px 12px;
    font-size: 19px;
    color: white;
    background: linear-gradient(
        to right,
        orange,
        deeppink,
        darkorchid
    );
    transition: .4s ease-in;
}
.btn:hover{
    color: black;
     background: linear-gradient(
        to left,
        orange,
        deeppink,
        darkorchid
    );
}