*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}#header{
    background-color:#6705de ; 
    border-bottom: 1px solid white;
}
.header-container{
    background: #6705de;
    margin: 0 auto;
    max-width: 1200px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}
nav ul{
    display: flex;
    gap: 40px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 19px;
    color: white;
}
.header-logo{
    color: white;
}
span{
    color:deeppink;
}
.btn{
    border: none;
    border-radius: 25px;
    padding: 7px 12px;
    font-size: 18px;
    color: white;
    background: linear-gradient(
        to right,
        orange,
        deeppink,
        darkorchid
    );
    transition: .4s ease-in;
}
.btn:hover{
    color: black;
     background: linear-gradient(
        to left,
        orange,
        deeppink,
        darkorchid
    );
}

/* hero */

#hero{
     /* width: 100%; */
    min-height: 100vh; 
    background: url(./assets/hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-container{
    position: absolute;
    text-align: center;
    margin-left: 370px;
}

.hero-logo{
    position: relative;
    padding: 70px;
    margin-left: 75px;
    margin-top: 50px;
    height: 300px;
    width: 300px;
}
.hero-logo .btn-2{
    position: absolute;
    margin-left: 170px;
    padding: 6px 10px;
    font-size: 1rem;
    font-weight: 550;
    background-color: rgb(3, 255, 3);
    box-shadow:  1px 1px 8px  rgb(3, 255, 3);
    border: none;
    border-radius: 20px;
    transition: .4s ease-in;
}
.btn-2:hover{
    color: white;
}
.hero-logo img{
    width: 100px;
    height: 150px;
}
.hero-text{
    margin-top: 35px;
}
.hero-text h1{
    color: white;
    font-size: 3rem;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.hero-text p{
    color: white;
    font-size: 15px;
    margin-bottom: 15px;
}
.btn-1{
    margin-left: 20px;
    border-radius: 25px;
    padding: 7px 12px;
    font-size: 18px;
    color:  rgb(3, 255, 3);
    background: transparent;
    margin-bottom: 30px;
    border: 2px solid  rgb(3, 255, 3);
    font-weight: 550;
}

/* about */
#about,#featured-Episodes{
    background-color: #15012f;
}
.about-container{
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.about-text{
    padding-top: 100px;
}
.about-text h1{
    font-size: 2.5rem;
    color: white;
    margin-bottom: 10px;
}
.about-text p{
    color: white;
    font-size: 15px;
    line-height: 25px;
}
.about-text .p{
    padding-bottom: 50px;
    border-bottom: 0.1px solid gray;
}
.about-card{
    padding: 70px 0 ;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card h1{
    font-size: 3.2rem;
    color:  rgb(3, 255, 3);
    font-weight: bolder;
}
.card h1 i{
    font-size: 2.2rem;
}
.card p{
    font-size: 1rem;
    color: white;
    margin-top: 6px;
}

/* choose */
#choose{
    background-color: #1c033b;
}
.choose-container{
    padding-bottom: 70px;
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}
.choose-header{
    font-size: 2.5rem;
    text-align: center;
    padding-top: 100px;
    color: white;
    padding-bottom:30px ;
}
.card-container{
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,170px);
}
.choose-card-1,.choose-card-2,.choose-card-3,.choose-card-4,.choose-card-5{
    background-color: #6705de36;
}
.choose-card-1{
    color: white;
    padding: 50px 30px;
    border-radius: 30px;
    grid-column: span 1;
    grid-row: span 2;
}
.choose-card-1 h2{
    font-size: 1.4rem;
    margin: 10px 0;
}
.choose-card-1 p{
    color: gray;
}
.choose-card-2{
    color: white;
    padding: 20px 30px;
    border-radius: 30px;
    grid-column: span 2;
    grid-row: span 1;
}
.choose-card-2 h2{
    font-size: 1.4rem;
    margin: 10px 0;
}
.choose-card-2 p{
    color: gray;
}
.choose-card-3{
    color: white;
    padding: 20px 30px;
    border-radius: 30px;
    grid-column: span 2;
    grid-row: span 1;
}
.choose-card-3 h2{
    font-size: 1.4rem;
    margin: 10px 0;
}
.choose-card-3 p{
    color: gray;
}
.choose-card-4{
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    grid-column: span 2;
    grid-row: span 1;
}
.choose-card-4 h2{
    font-size: 1.4rem;
    margin: 8px 0;
}
.choose-card-4 p{
    color: gray;
}
.choose-card-5{
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    grid-column: span 1;
    grid-row: span 1;
}
.choose-card-5 h2{
    font-size: 1.4rem;
    margin: 8px 0;
}
.choose-card-5 p{
    color: gray;
}

/* featured */

.featured-container,.meet-container{
    max-width: 1200px;
    width: 80%;
     margin: 0 auto;

}
.featured-header{
    text-align: center;
    padding-top:70px ;
    font-size: 2.5rem;
    color: white;
    padding-bottom:40px ;
}
.main-video-card{
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
iframe{
    border-top-left-radius: 25px ;
    border-top-right-radius: 25px ;
}
.video-card{
    border-radius: 25px;
    width: 280px;
    height: 355px;
    background-color: #6705de36;
}
.video-card h2{
    font-size:1.3rem;
    padding: 0 8px ;
    padding-top: 10px;
    color: white;
}
.video-card p{
    padding-left: 10px;
    padding-top: 8px;
    font-size: 15px;
    color: gray;
}
.video-card h3{
    color: rgb(3, 255, 3);
    margin-left: 10px;
    margin-top: 10px;
    font-size: 16px;
    padding-bottom: 10px;
}

/* meet section */
.meet-section{
    padding-bottom:80px;
}
.meet-header{
    color: white;
    text-align: center;
    font-size: 2.5rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
}
.meet-container{
    border-radius: 25px;
    gap: 20px;
    padding: 20px 20px;
    background-color:#6705de36 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.meet-text h2{
    font-size: 2rem;
    padding-bottom: 10px;
    color: white;
}
.meet-text p{
    color: gray;
    font-size: 15px;
    line-height: 22px;
}
.main-icon{
    padding-top: 15px;
    display: flex;
    gap: 15px;

}
.icon img{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 1px solid rgb(156, 75, 232);
    padding: 6px 8px;

}

/* footer section */
#footer{
    background: url(./assets/footer-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.footer-container{
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.footer-text{
    padding: 80px 0;
}
.footer-text h1{
    margin-bottom: 20px;
    color: white;
    font-size:3rem;
}
.footer-icon a{
    color: gray;
    text-decoration: none;
    font-size: 15px;
}
.footer-icon a i{
    color: white;
    margin: 0 12px;
    font-size: 15px;
    margin-bottom: 35px;
}
.footer-text p{
    font-size: 15px;
    color: gray;
    /* margin-bottom: 30px; */
}